@{
	Layout = "Layout.cshtml";
}

﻿@section ContentTitle {
	<h1>Alerts <small>Control panel</small></h1>
}

@section Breadcrumb {
	<ol class="breadcrumb">
	    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	    <li class="active">
	        Alerts
	    </li>
	</ol>
}

@section Scripts {

	<script type="text/javascript">
	// <!--[CDATA[


	// ]]-->
	</script>

}

<p>Todo: Write alerts panel</p>
