@{
	Layout = "Layout.cshtml";
}

﻿@section ContentTitle {
	<h1>Settings <small>Control panel</small></h1>
}

@section Breadcrumb {
	<ol class="breadcrumb">
	    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	    <li class="active">
	        Settings
	    </li>
	</ol>
}

@section Scripts {

	<script type="text/javascript">
	// <!--[CDATA[

	$(function() {
		ko.applyBindings(new DevicesViewModel());
	});

	function DeviceModel(data) {
		var self = this

		self.name = data.name;
		self.createdAt = data.createdAt;
		self.lastModifiedAt = data.lastModifiedAt;
		self.isActive = data.isActive;
		self.isDeleted = data.isDeleted;
		self.macAddress = data.macAddress;
		self.ipv4Address = data.ipv4Address;
		self.ipv6Address = data.ipv6Address;
		self.manufacturer = data.manufacturer;
		self.model = data.model;
		self.firmwareVersion = data.firmwareVersion;
		self.uptime = data.uptime;
		self.status = data.status;
		self.serialNumber = data.serialNumber;
	};

	function DevicesViewModel() {
		var self = this;

		self.devices = ko.observableArray();

		$.getJSON("/api/devices", function (response) {
			var mapped = $.map(response, function (device) {
				return new DeviceModel(device);
			});
			self.devices(mapped);
		});
	};

	// ]]-->
	</script>

}

<p>Todo: Write settings panel</p>
