<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li><a href="/"><span class="icon"><img src="/Content/images/icon.png" /></span> <span class="title">NodusOperandi</span></a></li>
    <li><a href="/login"><span class="icon fa fa-sign-in"></span> <span class="title">Log in</span></a></li>
</ul>
