/**
 * General CSS
 */

nav.left-nav {
    width:100px;
    position:fixed;
    left:0;
    top:60px;
    bottom:0;
    ul {
        list-style:none;
        padding:0;
        margin:0;
        li {
            padding:0;
            margin:0;
            a {
                display:block;
                padding:10px 16px;
                cursor:pointer;
            }
        }
    }
}
.padding {
    padding:10px 15px;
}

.alert.alert-thinner {
    padding:9px 30px 9px 15px;
    border:none;
    ul,
    li {
        padding:0;
        margin:0;
        list-style:none;
    }
}
