<meta charset="utf-8" />
<title>NodusOperandi</title>

<!-- {{ webServerEnvironment|upper }} {{ webServerName }} -->

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

@RenderSection("Meta", required:false)

<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Favicon -->
<link type="image/png" rel="icon" href="/Content/images/favicon.png" />

<!-- Le styles -->
<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,100,900" />
<link type="text/css" rel="stylesheet" href="/Content/css/bootstrap-3.3.5.min.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/font-awesome-4.2.0.min.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/jquery.gridster-0.5.6.min.css" />
<link type="text/css" rel="stylesheet" href="/Content/admin-lte/css/AdminLTE-2.3.2.min.css" />
<link type="text/css" rel="stylesheet" href="/Content/admin-lte/css/skins-2.3.2/_all-skins.min.css" />
<link type="text/css" rel="stylesheet" href="/Content/css/nodus.min.css" />

@RenderSection("Styles", required:false)
