<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
    </configSections>
    <nlog>
        <targets>
            <target name="logfile" type="File" fileName="${basedir}/logs/NodusOperandi.${date:format=yyyy-MM-dd}.log" />
            <target name="console" type="Console" error="True" layout="[${longdate}] ${pad:padding=5:inner=${level:uppercase=true}} — ${message}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="logfile" />
            <logger name="*" minlevel="Trace" writeTo="console" />
        </rules>
    </nlog>
    <razor disableAutoIncludeModelNamespace="false">
		<assemblies>
			<add assembly="Nancy" />
			<add assembly="Nancy.Demo.Samples" />
		</assemblies>
	</razor>
	<system.web>
		<compilation debug="true" />
		<httpHandlers>
			<add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
		</handlers>
	</system.webServer>
</configuration>
