<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="//www.gravatar.com/avatar/5ed132d4cdda26019fc863150cc0aec3g" class="user-image" alt="User Image">
        <span class="hidden-xs">Benjamin Nolan</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="//www.gravatar.com/avatar/5ed132d4cdda26019fc863150cc0aec3g" class="img-circle" alt="User Image" />
            <p>
                Benjamin Nolan
                <small>Administrator</small>
            </p>
        </li>
        <!-- Menu Body -->
        <li class="user-body">
            <span class="row">
                <span class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                </span>
                <span class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                </span>
                <span class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                </span>
            </span>
        <!-- /.row -->
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <span class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
            </span>
            <span class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
            </span>
        </li>
    </ul>
</li>
