{% extends "layout/layout" %}

{% block content %}
    <h1>Clients</h1>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group btn-group-sm margin" role="group">
            <button type="button" class="btn btn-default active">All</button>
            <button type="button" class="btn btn-default">Wired</button>
            <button type="button" class="btn btn-default">Wireless</button>
        </div>
        <div class="btn-group btn-group-sm margin" role="group">
            <button type="button" class="btn btn-default active">All</button>
            <button type="button" class="btn btn-default">Users</button>
            <button type="button" class="btn btn-default">Guests</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>&#xa0;</th>
                <th>Client</th>
                <th>MAC</th>
                <th>IP</th>
                <th>Manufacturer</th>
                <th>Device</th>
                <th>Access point</th>
                <th><i class="fa fa-download"></i></th>
                <th><i class="fa fa-upload"></i></th>
                <th>Activity</th>
                <th>Uptime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="10">&#xa0;</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td><span class="fa fa-wifi"></span></td>
                <td>iPad</td>
                <td>16:CA:1B:C3:D7:8E:8F</td>
                <td>10.1.1.1/8</td>
                <td>Apple</td>
                <td>iPad Air</td>
                <td><a href="/devices#ap1">Office AP</a></td>
                <td>1.22 GiB/s</td>
                <td>743 MiB/s</td>
                <td class="activity-bar"><i class="fa fa-stop"></i> <i class="fa fa-stop"></i> <i class="fa fa-stop"></i> <i class="fa fa-stop"></i></td>
                <td>9d 2h 15m 23s</td>
                <td class="actions"><button class="btn btn-danger"><span class="fa fa-times"></span> Block</button> <button class="btn btn-warning"><span class="fa fa-refresh"></span> Reconnect</button></td>
            </tr>
            <tr>
                <td><span class="fa fa-wifi"></span></td>
                <td>iPhone</td>
                <td>16:CA:1B:C3:D7:8E:8F</td>
                <td>10.1.1.2/8</td>
                <td>Apple</td>
                <td>iPhone 5S</td>
                <td><a href="/devices#ap1">Office AP</a></td>
                <td>34 MiB/s</td>
                <td>92 MiB/s</td>
                <td class="activity-bar"><i class="fa fa-stop"></i> <i class="fa fa-stop"></i></td>
                <td>6h 1m 8s</td>
                <td class="actions"><button class="btn btn-danger"><span class="fa fa-times"></span> Block</button> <button class="btn btn-warning"><span class="fa fa-refresh"></span> Reconnect</button></td>
            </tr>
        </tbody>
    </table>
{% endblock content %}
